@import "primeicons/primeicons.css";
@import "devicon/devicon.min.css";
@import "tailwindcss";

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

* {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(38, 38, 38);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 80, 80);
}

h1 {
    @apply text-4xl font-medium;
}

@keyframes clip-fluid {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-fira: "Fira Code", sans-serif;
    --font-onest: "Onest", sans-serif;

    --color-border-main-dark: #2d2d2d;
    --color-bg-main-dark: #191919;
    --color-bg-second-dark: #151515;
    --color-bg-third-dark: #111111;
    --color-border-inside-dark: #b27f56;
    --color-border-inside-more-dark: #c5a490;

    --animate-clip-fluid: clip-fluid 4s ease-in-out infinite;
}