@import "./tailwind.css";

body {
    font-family: 'Golos Text', Helvetica, Arial, sans-serif;
    @apply bg-stone-950 text-white;
}

.square-grid {
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(to right, rgba(var(--rgb-current-1, 255, 0, 0), 0.4) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(var(--rgb-current-1, 255, 0, 0), 0.4) 1px, transparent 1px);
    background-size: 1.5rem 1.5rem;
    box-shadow: inset 0 0 0 1px rgba(var(--rgb-current-1, 255, 0, 0), 0.8);
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
}

@keyframes light-shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
}

@keyframes animated-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes clip-fluid {
    0% {
        clip-path: polygon(
                0% 80%,
                15% 70%,
                35% 75%,
                55% 85%,
                75% 90%,
                100% 80%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 90%,
                20% 80%,
                40% 85%,
                60% 75%,
                80% 70%,
                100% 85%,
                100% 100%,
                0% 100%
        );
    }

    100% {
        clip-path: polygon(
                0% 75%,
                18% 85%,
                37% 80%,
                57% 70%,
                77% 65%,
                100% 75%,
                100% 100%,
                0% 100%
        );
    }
}
